<div class="os-page">
	<div class="finished-order" ng-controller="forderCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">Finished Order</div>
			<div class="panel-body">
				<p ng-show="nofo">There Is No Finished Order Now</p>
				<p ng-show="errormsg" style="color: red;">Internet Error</p>
				<div class="byselect" ng-show="flistshow">
					<div class="input-group" style="width: 25%;">
						<span class="input-group-addon">CreatedBy</span>
						<select ng-init="by=bys[0]" ng-model="by" ng-options="x for x in bys" class="form-control" ng-change="selectby()">
						</select>
					</div>
					<ul class="list-group" ng-repeat="forder in forders">	
						<li class="list-group-item">	
							<table class="table">  
								<tr>
									<td><span>OrderId:{{forder.oid}}</span></td>
									<td><span>OrderTime:{{forder.ot}}</span></td>
									<td><span>Code:{{forder.co}}</span></td>
									<td><span>SellPrice:{{forder.sp}}</span></td>
									<td><span>BuyPrice:{{forder.bp}}</span></td>
									<td><span>Quantity:{{forder.qu}}</span></td>
									<td><span>Profit:{{forder.pr}}</span></td>
									<td><span>CreatedBy:{{forder.c}}</span></td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="performance" ng-controller="perfCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">Strategy Performance</div>
			<div class="panel-body">
				<div class="perf-chart" id="pcontainer">
				</div>	
			</div>
			</div>
		</div>
	</div>
	
</div>
