.md-page{
	margin-top: 4.5em;
}
.mdp-left{
	display: block;
}
.mdp-right{
	display: block;
	float: left;
}
.usr_search_area{
	height: 30%;
}


.index_data_area{
	margin-top: 1em;
	height: 70%;
}

.favor_list{
	height: 100%;
	width: 100%
}

.md-right .favor_list .flist{
	width: 100%
}