<div class="strade-page">
	<div class="st-title">
		<div class="st-title-content"><h2>Strategy Trading</h2></div>
	</div>

	<div class="st-list panel panel-default">
		<div class="panel-heading">
			Strategy
		</div>
		<p>There Is No Strategy Now</p>
		<div class="panel-body">
			
		</div>
	</div>

	<div class="st-panel panel panel-info" ng-controller="stradeCtrl">
		<div class="panel-heading">Create Strategy</div>
		<div class="panel-body">
			<select ng-init="sname=names[0]" ng-model="sname" ng-options="x for x in names" class="form-control nameselect">
			</select>
			<hr>
			<div ng-switch="sname">
				<div ng-switch-when="MovingAverage">
					<div class="descri">
						<h4>this is discribtion of ma</h4>
					</div>
					<hr>
					<div class="input-group">
						<span class="input-group-addon">Code</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">LongPeriod</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">ShortPeriod</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Exit</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<button class="btn btn-primary">Create Strategy</button>
				</div>
				<div ng-switch-when="Boll Band">
					<div class="descri">
						<h4>this is discribtion of bb</h4>	
					</div>
					<hr>
					<div class="input-group">
						<span class="input-group-addon">Code</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Period</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">StandardDeviation</span>
							<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Exit</span>
						<input type="text" class="form-control" ng-model="code">
					</div>
					<br>
					<button class="btn btn-primary">Create Strategy</button>
				</div>
			</div>
			<hr>
		</div>
	</div>

</div>