<table>
					<tr>
						<td><label>Type:</label></td>
						<td><input type="" name="" class="form-control"></td>
						<td><label>Code:</label></td>
						<td><input type="" name="" class="form-control"></td>
						<td><label>Price:</label></td>
						<td><input type="" name="" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Quantity:</label></td>
						<td><input type="" name="" class="form-control"></td>
						<td><label>LossPrice:</label></td>
						<td><input type="" name="" class="form-control"></td>
						<td><label>ProfitPrice</label></td>
						<td><input type="" name="" class="form-control"></td>
					</tr>
					<tr>
						<td><label>Expiration:</label></td>
						<td><input type="" name="" class="form-control"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><div class="btn btn-success" type="submit">Submit</div></td>
					</tr>
				</table>


<div class="input-group">
	<input type="text" class="form-control">
	<span class="input-group-addon">%</span>
</div>

<!-- <form class="form-inline">
						<div class="form-group">
							<label class=" control-label">Type:</label>
							<select name="type" class="">
								<option>Mrkt</option>
								<option>Limit</option>
								<option>IOC</option>
							</select>
						</div>

						<div class="form-group">
							<label class="control-label">Symbol:</label>
							<div class="">
								<input type="text" class="form-control">
							</div>	
						</div>
						
					</form> -->


					