.os-page{
	margin-top: 4.5em;
	margin-left: 15px;
	margin-right: 15px;
}

.finished-order{
	margin-top: 0.5em;
}

.finished-order .panel-body p{
	text-align: center;
	font-size: 1.5em;
}

.finished-order td{
	margin-right: 4em;
}

.finished-order .list-group span{
	font-size: 1.5em;
	margin-right: 1em;
}

.performance{
	margin-top: 0.5em;
}

.performance .perf-chart{
	
}
