.strade-page{
	margin-top: 4.5em;
	margin-left: 15px;
	margin-right: 15px;
}

.st-title{
	margin-top: 1em;
	background-color: lightgrey;
}

.st-title-content{
	color:rgba(0,0,0,.5);
	margin-left: 1em;
}

.st-list{
	margin-top: 0.5em;
	border:solid 1px;
	border-color: lightgrey;
}

.st-list p{
	margin-top: 0.5em;
	text-align: center;
	font-size: 1.5em;
}

.st-list span{
	font-size: 1.3em;
	margin-right: 2em;
}

.st-panel{
	margin-top: 0.5em;
	border:solid 1px;
	border-color: lightgrey;
}

.st-panel .nameselect{
	width: 30%;
}
.st-panel .input-group{
	width: 30%
}