.tpnav{
	margin-left: 25px;
	margin-right: 25px;
	border: solid 0.5px;
	border-color: lightgrey;
	border-top: 0px;
}
.tnav{
	margin-left: 8em;
}
.tnav > li{
	margin-right: 12em;
}

.usr-bnt{
	margin-right: 1em;
}
