
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column',
			width: 540,
            height: 380
        },
        credits:{
            enabled:false
        },
        title: {
            text: 'Strategy Information'
        },
        subtitle: {
            text: 'Click to view Strategy.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Profit(%)'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },
        series: [{
            name: 'Strategy Name',
            colorByPoint: true,
            data: [{
                name: 'First Strategy',
                y: 56.33,
                drilldown: 'A'
            }, {
                name: 'Seond Strateg',
                y: 24.03,
                drilldown: 'B'
            }]
        }],
        drilldown: {
            series: [{
                name: 'First Strateg',
                id: 'A',
                data: [
                    [
                        'C1',
                        24.13
                    ],
                    [
                        'C2',
                        17.2
                    ],
                    [
                        'C3',
                        8.11
                    ],
                    [
                        'C4',
                        5.33
                    ],
                    [
                        'C5',
                        1.06
                    ],
                    [
                        'C6',
                        0.5
                    ]
                ]
            }, {
                name: 'Seond Strateg',
                id: 'B',
                data: [
                    [
                        'Cc1',
                        5
                    ],
                    [
                        'Cc2',
                        4.32
                    ],
                    [
                        'Cc3',
                        3.68
                    ],                                 
                    [
                        'Cc4',
                        0.85
                    ],
                    [
                        'Cc5',
                        0.6
                    ],
                    
                    [
                        'Cc6',
                        0.14
                    ]
                ]
            }]
        }
    });
});
</script>
