<div class="strade-page">
	<div class="st-title">
		<div class="st-title-content"><h2>Strategy Trading</h2></div>
	</div>

	<div class="st-list panel panel-default" ng-controller="strlistCtrl">
		<div class="panel-heading">
			Strategy
		</div>
		<p ng-show="nostr">There Is No Strategy Now</p>
		<p ng-show="errormsg" style="color: red;">Internet Error</p>
		<div class="panel-body st-list">
			<table class="table" >
				<tr ng-repeat="strate in strates"><!-- ng-repeat="strate in strates" -->
					<!-- ng-model="strate" -->
					<td><span>StrategyID:{{strate.id}}</span></td>
					<td><span>StrategyName:{{strate.name}}</span></td>
					<td><span>Code:{{strate.code}}</span></td>
					<td><span>Status:{{strate.status}}</span></td>
					<td><span><button class="btn btn-link" ng-click="showdetail()" data-target="#strd">Show Details</button></span></td>
					<td><span ng-switch="strate.status"><button class="btn btn-default" ng-click="stopstr()" ng-switch-when="Running">Stop Strategy
						</button>
						<button class="btn btn-default" ng-click="startstr()" ng-switch-when="Stoped">Start Strategy
						</button></span></td>	
					<td>
					<!-- dialog -->
					<div class="modal fade" id="strd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Strategy Detail</h4>
								</div><!-- modal-header -->
								<div class="modal-body">
									<table class="table">
										<thead>
											<tr>
												<th>Code</th>
												<th>Position</th>
												<th>Quantity</th>
												<th>BuyPrice</th>
												<th>NowPrice</th>
												<th>Profit</th>
												<th>Status</th>
												<th>StartTime</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="sdt in sdts">
												<td>{{sdt.code}}</td>
												<td>{{sdt.position}}</td>
												<td>{{sdt.quantity}}</td>
												<td>{{sdt.buyprice}}</td>
												<td>{{sdt.nowprice}}</td>
												<td>{{sdt.profit}}</td>
												<td>{{sdt.status}}</td>
												<td>{{sdt.starttime}}</td>
											</tr>
										</tbody>
									</table>
								</div><!-- modal-body -->
								<div class="modal-footer">
                					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            					</div><!-- modal-footer -->
							</div><!-- modal-content -->
						</div><!-- modal-dialog -->
					</div>
					<!-- end dialog -->
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="st-panel panel panel-info" ng-controller="stradeCtrl">
		<div class="panel-heading">Create Strategy</div>
		<div class="panel-body">
			<select ng-init="sname=names[0]" ng-model="sname" ng-options="x for x in names" class="form-control nameselect">
			</select>
			<hr>
			<div ng-switch="sname">
				<div ng-switch-when="MovingAverage">
					<div class="descri">
						<h4>The trigger for this strategy is when the short average “crosses” the long average: that
						is, when it was below the long average a moment ago, and now it is above the long
						average, or vice-versa. When the short average crosses above the long, it’s time to buy; if it crosses below, it’s time to sell. Place your trade and record it.
						</h4>
					</div>
					<hr>
					<div class="input-group">
						<span class="input-group-addon">Code</span>
						<input type="text" class="form-control" ng-model="$parent.macode">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">LongPeriod</span>
						<input type="text" class="form-control" ng-model="$parent.malp">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">ShortPeriod</span>
						<input type="text" class="form-control" ng-model="$parent.masp">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Exit</span>
						<input type="text" class="form-control" ng-model="$parent.maex">
					</div>
					<br>
					<button class="btn btn-primary" ng-click="maclick()">Create Strategy</button>
				</div>
				<div ng-switch-when="BollBand">
					<div class="descri">
						<h4>This strategy seeks to take advantage of volatility in a stock, expecting it to return to itsestablished pattern. Take a moving average over some period (for example 20 days),and calculate the standard deviation for that period.
						</h4>	
					</div>
					<hr>
					<div class="input-group">
						<span class="input-group-addon">Code</span>
						<input type="text" class="form-control" ng-model="$parent.bbcode">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Period</span>
						<input type="text" class="form-control" ng-model="$parent.bbpe">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">StandardDeviation</span>
							<input type="text" class="form-control" ng-model="$parent.bbsd">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Exit</span>
						<input type="text" class="form-control" ng-model="$parent.bbex">
					</div>
					<br>
					<button class="btn btn-primary" ng-click="bbclick()">Create Strategy</button>
				</div>
			</div>
			<hr>
		</div>
	</div>

</div>