<div class="td-page">
	<div class="td-title">
		<div class="td-title-content"><h2>Manual Trading</h2></div>
	</div>

	<div class="td-page-left col-md-8">

		<div class="ptrade-list panel panel-success" ng-controller="ptradelistCtrl">
			<div class="panel-heading">PendingOrade</div>
			<div class="panel-body">
				<p ng-show="nopt">There Is No Pending Order Now</p>
				<p ng-show="errormsg" style="color: red;">Internet Error</p>
				<div class="pendingtrade">
					<ul class="list-group" ng-repeat="porder in porders">
						<li class="list-group-item">
						{{porder}}
						<button class="btn btn-default" ng-model="oper">{{oper}}</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="trade-panel" ng-controller="tradeCtrl">
			<div class="mtrade_panel panel panel-info">
				<div class="panel-heading">TradingPanel</div>
				<div class="panel-body">
					<div class="trade-form-left col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Type</span>
							<select ng-init="type=types[0]" ng-model="type" ng-options="x for x in types" class="form-control">
							</select>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Position</span>
							<select class="form-control" ng-model="position" ng-init="position=positions[0]" ng-options="x for x in positions">
							</select>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Code</span>
							<input type="text" class="form-control" ng-model="code">
						</div>
						<br>		
						<div class="input-group" ng-show="showprice">
							<span class="input-group-addon">Price</span>
							<input type="text" class="form-control" ng-model="price">
						</div>
						<br ng-show="showprice">
						<div class="input-group">
							<span class="input-group-addon">Quantity</span>
							<input type="text" class="form-control" ng-model="qty">
						</div>
					</div>
					<div class="trade-form-right col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Loss Price</span>
							<input type="text" class="form-control" ng-model="lossp">
							<span class="input-group-addon">%</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Profit Price</span>
							<input type="text" class="form-control" ng-model="profp">
							<span class="input-group-addon">%</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Expiration</span>
							<input type="text" class="form-control" ng-model="expir">
							<span class="input-group-addon">min</span>
						</div>
						<br>
						<span ng-show="total()"><h4>Total Cost:&nbsp;{{ price*qty }}</h4></span>
						<button class="btn btn-info pull-right" data-toggle="modal" data-target="#ForSure">Submit Order</button>
						<!-- ng-click="sendOrder()" -->

						<!-- Dialog -->
						<div class="modal fade" id="ForSure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											&times;
										</button>
										<h4 class="modal-title" id="myModalLabel">
											Are you Sure For Your Order?
										</h4>
									</div>
									<div class="modal-body">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Type</th>
													<th>Position</th>
													<th>Code</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{type}}</td>
													<td>{{position}}</td>
													<td>{{code}}</td>
													<td><span ng-show="showprice">{{price}}</span><span ng-show="!showprice">/</span></td>
												</tr>
											</tbody>
											<thead>
												<tr>
													<th>Quantity</th>
													<th>Loss Price</th>
													<th>Profit Price</th>
													<th>Expiration</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>{{qty}}</th>
													<th>{{lossp}}%</th>
													<th>{{profp}}%</th>
													<th>{{expir}}min</th>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">		Cancel
										</button>
										<button type="button" class="btn btn-success" ng-click="sendOrder()"
										data-dismiss="modal"
										>
										Submit Order
										</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div>
						<!-- End Dialog -->

					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="td-page-right col-md-4 pull-right" ng-controller="rawCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">RAW Data</div>

			<div class="panel-body">
				<div class="td-search-bar input-group">
					<input type="text" class="form-control" placeholder="input the code" ng-model="code"/>
					<span class="input-group-btn">
        				<button class="btn btn-info" type="button" ng-click="searchrawclick()">Search</button>
      				</span>
				</div>
				<div class="raw-data-result">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symbol</th>
								<th>Side</th>
								<th>Price</th>
								<th>Qty</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="raw in raws">
								<td>{{ raw.symbol }}</td>
								<td>{{ raw.side }}</td>
								<td>{{ raw.price }}</td>
								<td>{{ raw.qty }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
			
</div>