<div class="td-page">
	<div class="td-title">
		<div class="td-title-content"><h2>Manual Trading</h2></div>
	</div>

	<div class="td-page-left col-md-8">

		<div class="ptrade-list panel panel-success" ng-controller="ptradelistCtrl">
			<div class="panel-heading">PendingTrade</div>
			<div class="panel-body">
				<p ng-show="nopt">There is no pending trade now</p>
				<div class="pendingtrade">
					<ul class="list-group" ng-repeat="ptrade in ptrades">
						<li class="list-group-item">{{ptrade}}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="trade-panel" ng-controller="tradeCtrl">
			<div class="mtrade_panel panel panel-info">
				<div class="panel-heading">TradingPanel</div>
				<div class="panel-body">
					<div class="trade-form-left col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Type</span>
							<select class="form-control" ng-model="type">
								<option>Mrkt</option>
								<option>Limit</option>
								<option>IOC</option>
							</select>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Code</span>
							<input type="text" class="form-control" ng-model="code">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Price</span>
							<input type="text" class="form-control" ng-model="price">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Quantity</span>
							<input type="text" class="form-control" ng-model="qty">
						</div>
					</div>
					<div class="trade-form-right col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Loss Price</span>
							<input type="text" class="form-control" ng-model="lossp">
							<span class="input-group-addon">%</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Profit Price</span>
							<input type="text" class="form-control" ng-model="profp">
							<span class="input-group-addon">%</span>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">Expiration</span>
							<input type="text" class="form-control" ng-model="expir">
							<span class="input-group-addon">min</span>
						</div>
						<br>
						<span><h4>Total Cost:&nbsp;{{ price*qty }}</h4></span>
						<button class="btn btn-info pull-right" ng-click="sendOrder()">Submit Order</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="td-page-right col-md-4 pull-right" ng-controller="rawCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">RAW Data</div>

			<div class="panel-body">
				<div class="td-search-bar input-group">
					<input type="text" class="form-control" placeholder="input the code" ng-model="code"/>
					<span class="input-group-btn">
        				<button class="btn btn-info" type="button" ng-click="searchrawclick(code)">Search</button>
      				</span>
				</div>
				<div class="raw-data-result">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symbol</th>
								<th>Side</th>
								<th>Price</th>
								<th>Qty</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
			
</div>