<nav class="navbar navbar-default navbar-fixed-top tpnav">
	<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tn" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="#">SwiftTrading</a>
		</div>
		<div class="collapse navbar-collapse" id="tn">
			<ul class="nav navbar-nav tnav">
				<!-- <li><a href="#/marketdata" ng-click="mclick()">MarketData</a></li> -->
				<li class="trade-item"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Trade</a>
					<ul class="dropdown-menu trade-dropdown">
						<li><a href="#/mtarding" ng-click="mtclick()">Manual Trading</a></li>
						<li><a href="#/strading" ng-click="stclick()">Strategy Trading</a></li>
					</ul>
				</li>
				<li><a href="#/orderhistory" ng-click="oclick()">OrderHistory</a>	
				</li>
			</ul>
			<div class="btn-default btn-sm glyphicon glyphicon-user navbar-btn pull-right usr-btn">
			</div>
		</div>
	</div>
</nav>